<!DOCTYPE html>
<html lang="en">

<head>
    <title>BannerWEB Login Helper</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="jumbotron">
            <h3>BannerWeb Login Helper</h3>

            <form action="{{ url_for('get_data') }}" method="post">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="Student Id" type="text" class="form-control" name="SUusername" placeholder="Student Id">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <br>


                <br>
                <div class="input-group">
                    <span class="input-group-addon">CRMs</span>
                    <input id="crm1" type="text" class="form-control" name="crm1" placeholder="CRM-1">
                    <input id="crm2" type="text" class="form-control" name="crm2" placeholder="CRM-2">
                    <input id="crm3" type="text" class="form-control" name="crm3" placeholder="CRM-3">
                    <input id="crm4" type="text" class="form-control" name="crm4" placeholder="CRM-4">
                    <input id="crm5" type="text" class="form-control" name="crm5" placeholder="CRM-5">
                    <input id="crm6" type="text" class="form-control" name="crm6" placeholder="CRM-6">
                </div>
                <br>
                <br>
                <button class="btn-success" type="submit">Login BannerWeb</button>

            </form>
            <br>
        </div>
    </div>

</body>

</html>